/* src/assets/CSS/globalColor.css */

/*Sistema de temas para personalizar el color de los iconos.
  Temas disponibles: default (verde), yellow, pink, blue.*/

:root {

    /* DEFAUlT THEME*/
    --icon-primary: rgba(7, 220, 7);
    --icon-sencondary: #39ff39;
    --icon-hover: rgba(7, 220, 7, 0.15);
    --bg-icon-hover: rgba(7, 220, 7, 0.15);
}

/* Tema Amarillo Neon */
html[data-theme="yellow"] {
    --icon-primary: #fff700;
    --icon-secondary: #ffed4e;
    --icon-hover: rgba(255, 247, 0, 0.8);
    --bg-icon-hover: rgba(255, 247, 0, 0.15);
}

/* Tema Rosa */
html[data-theme="pink"] {
    --icon-primary: #ff6699;
    --icon-secondary: #ff99bb;
    --icon-hover: rgba(255, 102, 153, 0.8);
    --bg-icon-hover: rgba(255, 102, 153, 0.15);
}

/* Tema Azul */
html[data-theme="blue"] {
    --icon-primary: #0000ff;
    --icon-secondary: #3232fb;
    --icon-hover: rgba(7, 25, 220, 0.544);
    --bg-icon-hover: rgba(34, 0, 255, 0.106);
}

/* Clase global para iconos */
.icon-accent {
    color: var(--icon-primary);
    transition: all 0.3s ease;
    cursor: pointer;
}

.icon-accent:hover {
    color: var(--icon-hover);
    transform: scale(1.1);
}

.btn .icon-accent {
    margin-right: 0.5rem;
}


.header-nav .icon-accent {
    font-size: 1.2rem;
}

.footer .icon-accent {
    font-size: 1.5rem;
    margin: 0 0.5rem;
}