/* src/assets/CSS/globalColor.css */

/* Pense en una funcion de personalizasion de la aplicacion web consta de poder elegir el color de los iconos , como la pagina siempre sera de color negra, usare colores, Amarillo,verde y azul el usuario podra escojer esto en su perfil , es una funcion nueva, tendia que reemplazar los iconos, principales, y definir una variable y a todos esos iconos agregarlos a una classe global para que cambien el color en conjunto todos los iconos. */

/*verificar estandar WCAG- estandar de accesibilidad con el tema de colores*/

/*Nota importante "Analizas y arreglar el tema de iconos toda la aplicacion web debe tener iconos claves y combinar con el contraste para poder hacer esta funcion bien: Adcicionalmente, mirar si agragamos efectos a los iconos es algo mas complejo, y darle mas estilo a la pagina . tendriamos que crear , un boton o barra en la parte de usuario que solo cuando se logee permita hacer esto, y de paso añadir una alerta intercativa bonita que diga y invitemos a que cambie los colores de su pagina. Es un plus"*/


/*Buscar la libreria de iconos , y escojer un ajuste general para todos , combinando estilo y tamaños adecuados*/

.root {
    --Yellow-Neon: #fff700;
    --Green-esmerald:#00FF66 ;
    --pink-vibrant:#FF6699;
    --green-pick:rgb(7, 220, 7);
}

/*icono logo*/


/*Iconos header*/

/*iconos menu*/

/*iconos redes sociales*/

/*otros iconos*/